# Dependencies
node_modules/

# Build
dist/
*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Env
.env
.env.*

# Ключи деплоя (приватный не коммитить)
.deploy/

# Локальные временные файлы
.tmp-api.json
